nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(10, 0, 0);
}

.logo {
    color: rgb(223, 221, 231);
    font-size: 25px;
}

.links {
    display: flex;
    gap: 25px;
    
}
.links a {
    color: white;
    text-decoration: none;
    
}