/* 
.box{
    width: 50%;
    border: 2px dashed rgb(7, 1, 1);
    background-color: brown;
    margin: 20px;
    padding: 5%;
}

.box h1 {
    color: rgb(2, 0, 0);
} */

*{
    
   
    width: 400px;
    height: 200px;
    border: 2px solid;
    
    
    
}
.c1{
    background-color: black;
    padding: 5%;
}
.c2{
    background-color: brown;
    padding: 5%;
}
