.container{
    width: 75vw;
    height: 100vh;
    border-radius: 20px;
    background-color: bisque;
    margin: 0 auto;
    font-size: 20px;
    padding: 1rem;
    border: 2px solid red;
    box-shadow: 0 0 10px;
    background-image: url("../img.jpg");
    background-size: cover;
    background-position: center;
}

.container p{
    color: rgb(23, 3, 58);
    font-size: 1em;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 2rem;

}